$primary_600: #0f3cd9;
$primary_500: #1b4dff;
$primary_400: #4a72ff;
$primary_100: #b4c4ff;
$primary_50: #e8edff;
$primary_25: #f2f5ff;

$slate_600: #455468;
$slate_300: #afbaca;
$slate_200: #d7dfe9;
$slate_50: #f9fafb;
$slate_25: #f9fafb;

$error_700: #d21a0e;
$error_600: #e92215;
$error_100: #ffc5c1;
$error_50: #ffdcda;
$error_25: #fff5f4;
