@use '@/assets/styles/variable';

.r-dropdown {
  position: relative;
}

.r-dropdown__list {
  overflow: hidden;
  position: absolute;
  top: calc(100% + 10px);
  display: flex;
  width: 180px;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid variable.$slate_300;
  box-shadow: 0 8px 12px rgba(variable.$slate_800, 0.05);
  border-radius: 6px;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 100;
}

.r-dropdown__list_visible {
  opacity: 1;
  visibility: visible;
}

.r-dropdown__block {
  display: flex;
  flex-direction: column;
  background-color: white;

  .r-dropdown__block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s;
    z-index: 110;
  }

  .r-dropdown__block_visible {
    transform: translateX(0);
  }
}

.r-dropdown__item,
.r-dropdown__header,
.r-dropdown__marker,
.r-dropdown__back {
  padding: 10px 16px;
  cursor: pointer;

  &:hover {
    background-color: variable.$slate_50;
  }
}

.r-dropdown__item,
.r-dropdown__slot {
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    height: 14px;
    width: 14px;
  }
}

.r-dropdown__header {
  padding: 10px 16px;
  color: variable.$slate_500;
  text-transform: uppercase;
  font-size: 12px;
  pointer-events: none;
}

.r-dropdown__item,
.r-dropdown__marker,
.r-dropdown__back {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    height: 1px;
    background-color: variable.$slate_100;
  }

  &:last-child {
    &:after {
      background: none;
    }
  }
}

.r-dropdown__marker,
.r-dropdown__back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.r-dropdown__back {
  .r-dropdown__arrow {
    transform: rotate(180deg);
  }
}

.r-dropdown__arrow {
  width: 12px;
  height: 12px;

  svg {
    width: 100%;
    height: 100%;
  }
  
}
